html {
  scroll-behavior: smooth;
}


.site-footer {
  background-color: #0e0e1a;
  color: white;
  padding: 3rem 2rem 2rem;
  margin-top: 4rem;
  border-top: 1px solid #2e2e2e;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
}

.footer-info, .footer-desc {
  flex: 1;
  min-width: 250px;
}

.footer-info h2,
.footer-desc h2 {
  color: #00bfff;
  margin-bottom: 0.5rem;
}

.footer-info a {
  color: #00bfff;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.9rem;
  color: #aaa;
}

.footer-form-section {
  padding: 0rem 1rem;
  background-color: #111;
  display: block;
  justify-content: center;
  align-items: center;
}